header{
  display: flex;
align-items: center;
position: fixed;
z-index: 1;
width: 100%;
height: 80px;
border-bottom: 1px solid black;
background-color: white;
font-family: Verdana;
font-size: 14px;
font-weight: bold




}
.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px
  }
  .logo span{
    color: mediumaquamarine;
  }
nav span{
display:inline-block;
padding: 20px 10px
}
div{
}
.container{

  display: flex;
    width: 1232px;
    margin: 0 auto 10px auto;
    padding-top: 116px;

}
.col1 {
padding:10px;
flex-shrink: 1;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 630px;

}

.col2 {
  padding:10px;
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.col3 {
  padding:10px;
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}
.lead-story{
width:100%;
}
.lead-story h2{
  font-size: 40px;
  color: white;
  text-align: center;



}
.story{
  display:inline-flex;
  flex-direction: column;
  width: 300px;



}
.story h2{
  font-size: 32px;



}

.main.img{
  background-image:url(../images/img-story-main.png);
  height:300px;
  justify-content: center;
  display:flex;

}
.st1.img{
  background-image:url(../images/img-story-1.png);
  width:300px;
  height:300px;
  color: white;
  text-align: center;

}
.st2.img{
  background-image:url(../images/img-story-2.png);
  width:300px;
  height:300px;
  color: white;
  text-align: center;
}
.st3.img{
  background-image:url(../images/img-story-3.png);
  width:300px;
  height:300px;
  color: white;
  text-align: center;
}
.newsbite h3 {
  font-size: 16px;
  font-weight: bold;
}
.newsbite p{
background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
}
.newsbite.img{
  background-image:url(../images/img-news-bite.png);
  width:300px;
  height:300px;
  color: white;
  text-align: center;
}
info{
  display: block;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
  }
footer .title {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.copy{
  display:block;


}
